.main-screen {
  display: flex;
  padding-top: 118px;
  justify-content: space-around;

  @media (max-width: $viewport--lg) {
    justify-content: space-between;
  }

  @media (max-width: $viewport--md) {
    position: relative;
    padding-top: 246px;
  }
}

.main-screen__title {
  margin: 0;
  margin-top: 20px;
  font-size: 96px;
  line-height: 96px;
  font-weight: 400;
  color: $color-neon-blue;
  width: 562px;
  text-align: left;
  margin-right: 200px;
  margin-top: auto;

  @media (max-width: $viewport--lg) {
    margin-right: 0;
    width: 562px;
  }

  @media (max-width: $viewport--md) {
    padding-left: 35px;
    &--hide {
      display: none;
    }
  }
}

.main-screen__block {
  display: block;
  @media (max-width: $viewport--md) {
    display: none;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 950px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    left: -768px;
    z-index: 100;
    background-color: $color-neon-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-screen__image-coloured {
  margin-bottom: 35px;

  @media (max-width: $viewport--md) {
    display: none;
  }
}

.main-screen__image-white {
  display: none;

  @media (max-width: $viewport--md) {
    display: block;
    //margin-top: 235px;
    //margin: 235px auto 0;
  }
}

.main-screen__image {
  //display: none;

  @media (max-width: $viewport--md) {
    display: flex;
    justify-content: center;
    margin: 235px auto 0;
  }
}

.main-screen__paragraph {
  margin: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  width: 362px;
  text-align: left;
  margin-top: auto;

  @media (max-width: $viewport--lg) {
    width: 352px;
  }

  @media (max-width: $viewport--md) {
    color: #ffffff;
    display: block;
    //margin-top: 35px;
    margin: 35px auto 0;
  }
}

// Стили для анимации элементов
//анимирование блока main-screen__block
.main-screen__block {
  @media (max-width: $viewport--md) {
    &--animate {
    /* visibility: visible; */
    display: block;
    transition: 3.5s;
    //animation: main-screen-block 3.5s;
    animation: main-screen-block 2s;
    }
  }
}

@keyframes main-screen-block {
  0% {
    transform: translateX(-576px);
  }
  30% {
    transform: translateX(-384px);
  }
  50% {
    transform: translateX(-192px);
  }
  100% {
    transform: translateX(0px);
  }
}

// .main-screen__block--animateforward {
//   /* visibility: visible; */
//   display: block;
//   transition: 3.5s;
//   //animation: main-screen-block 3.5s;
//   animation: main-screen-block-1 2s ease-in-out;
// }

// @keyframes main-screen-block-1 {
//   0% {
//     //opacity: 0.1;
//     transform: translateX(-576px);
//   }
//   30% {
//     //opacity: 1;
//     transform: translateX(-384px);
//   }
//   50% {
//     //opacity: 1;
//     transform: translateX(-192px);
//   }
//   100% {
//     //opacity: 0.1;
//     transform: translateX(0);
//   }
// }

// .main-screen__block--animatebackward {
//   /* visibility: visible; */
//   display: block;
//   transition: 3.5s;
//   //animation: main-screen-block 3.5s;
//   animation: main-screen-block-2 2s ease-in-out;
// }

// @keyframes main-screen-block-2 {
//   0% {
//     //opacity: 0.1;
//     transform: translateX(0);
//   }
//   30% {
//     //opacity: 1;
//     transform: translateX(-192px);
//   }
//   50% {
//     //opacity: 1;
//     transform: translateX(-384px);
//   }
//   100% {
//     //opacity: 0.1;
//     transform: translateX(-576px);
//   }
// }

// @keyframes main-screen-block {
//   0% {
//     transform: translateX(-615px);
//   }
//   25% {
//     transform: translateX(-462px);
//   }
//   50% {
//     transform: translateX(-309px);
//   }
//   75% {
//     transform: translateX(-156px);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }
